<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a:link,
        a:visited {
            background-color: grey;
            color: white;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            width: 100px;
            margin: 5px;
            display: inline-block;
        }

        a:hover,
        a:active {
            background-color: grey;
        }

        /* Add padding to containers */
        .container {
            border: 3px solid #f1f1f1;
            padding: 16px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>
            <%=welcomeMsg %>
        </h2>
        <br />
        <a href="/home"> Back To Home Page</a>

    </div>

</body>

</html>